<section
  class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
  style="
    min-height: 100vh;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);
  "
>
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-4 col-lg-3 h-50">
        <div class="card shadow">
          <div class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">Login</h4>
            <p class="text-center">Enter your account</p>

            <form [formGroup]="loginForm" (submit)="login()">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  name=""
                  class="form-control"
                  placeholder="Username"
                  type="text"
                  formControlName="username"
                />
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  type="password"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <p class="text-center">
                Don't have account?
                <a routerLink="/auth/register"> Create an account</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
