<div class="card card-round">
  <div class="card-header">
    <div class="card-head-row">
      <div class="card-title">Lista de Proveedores</div>
      <div class="card-tools">
        <!-- <a
          (click)="refresh()"
          class="btn btn-label-success btn-round btn-sm me-2"
        >
          <span class="btn-label">
            <i class="fa fa-pencil"></i>
          </span>
          Refrescar
        </a> -->
        <a class="btn btn-label-info btn-round btn-sm" (click)="openModal()">
          <span class="btn-label">
            <i class="fas fa-plus"></i>
          </span>
          Agregar
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">RUC</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (provider of providers; track $index) {
        <tr>
          <td>{{ provider.id }}</td>
          <td>{{ provider.nombre }}</td>
          <td>{{ provider.correo }}</td>
          <td>{{ provider.ruc }}</td>
          <td>{{ provider.direccion }}</td>
          <td>{{ provider.telefono }}</td>
          <td>
            <button class="btn btn-warning" (click)="editProvider(provider)">
              <i class="fas fa-edit"></i>
            </button>
            &nbsp; &nbsp;
            <button
              class="btn btn-danger"
              (click)="deleteProvider(provider.id, provider.nombre)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
