<div mat-dialog-title>
  <h1>Formulario de Proveedores</h1>
</div>
<form [formGroup]="prividerForm">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput type="email" formControlName="correo" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>RUC</mat-label>
        <input matInput type="text" formControlName="ruc" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput type="text" formControlName="direccion" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput type="tel" formControlName="telefono" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      [mat-dialog-close]="false"
      type="button"
      class="btn btn-success"
    >
      Cancelar
    </button>
    <button
      [disabled]="!prividerForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      class="btn btn-primary"
    >
      {{ getTitle() }}
    </button>
  </div>
</form>
